---
import { PostQueries, PostFiltering, Posts } from 'astro-accelerator-utils';
import { SITE, Frontmatter } from '@config';
import { Translations, Lang } from '@util/Languages';
import Default from './Default.astro';
import ArticleList from '@components/ArticleList.astro';

// Properties
type Props = {
    frontmatter: Frontmatter
    headings: { depth: number; slug: string; text: string; }[];
}
const { frontmatter, headings } = Astro.props as Props;
const lang = frontmatter.lang ?? SITE.default.lang;

// Language
const _ = Lang(lang);

// Logic
const posts = new Posts();

const authorPages = posts.all()
    .filter(PostFiltering.isListable)
    .filter(p => p.frontmatter.authors?.indexOf(frontmatter.id) > -1)
---
<Default frontmatter={ frontmatter } headings={ headings }>
    <slot />
    <h2>{ _(Translations.author.recent_articles) }</h2>
    <ArticleList lang={ lang } posts={ authorPages } />
</Default>