---
import { SITE, Frontmatter } from '@config';

import Head from '@components/HtmlHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SkipLinks from '@components/SkipLinks.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';
import Navigation from '@components/Navigation.astro';
import TableOfContents from '@components/TableOfContents.astro';
import Authors from '@components/Authors.astro';
import Taxonomy from '@components/Taxonomy.astro';
import Related from '@components/Related.astro';

type Props = {
    frontmatter: Frontmatter
    headings: { depth: number; slug: string; text: string; }[];
}
const { frontmatter, headings } = Astro.props as Props;

const lang = frontmatter.lang ?? SITE.default.lang;
const textDirection = frontmatter.dir ?? SITE.default.dir;

const features = `<script>
const site_url = '${SITE.url}';
const site_features = ${JSON.stringify(SITE.featureFlags)};
</script>`;
---
<html dir={ textDirection } lang={ lang } class="initial">
    <Head frontmatter={ frontmatter } headings={ headings } lang={ lang } />
    <body>
        <SkipLinks frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <Header frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <Breadcrumbs frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <main id="site-main">
            <article class="article-grid" itemscope itemtype="https://schema.org/Article">
                <header>
                    <h1 itemprop="name headline">{ frontmatter.title ?? SITE.title }</h1>
                    {frontmatter.subtitle && (
                        <p>{ frontmatter.subtitle }</p>
                    )}
                </header>
                <div>
                    <TableOfContents frontmatter={ frontmatter } headings={ headings } lang={ lang } />
                    <Authors frontmatter={ frontmatter } lang={ lang } />
                    <div class="page-content anim-show-parent" itemprop="articleBody">
                        <slot />
                    </div>
                    <Taxonomy frontmatter={ frontmatter } lang={ lang } />
                    <Related frontmatter={ frontmatter } headings={ headings } lang={ lang } />
                </div>
                <Navigation lang={ lang } />
            </article>
        </main>
        <Footer frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <Fragment is:html="true" set:html={ features } />
        <script src={ SITE.subfolder + '/js/main.js' } type="module" async></script>
    </body>
</html>