---
import { Markdown } from 'astro-accelerator-utils';
import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { SITE } from '@config';
import Head from '@components/HtmlHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SkipLinks from '@components/SkipLinks.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';
import Navigation from '@components/Navigation.astro';
import TableOfContents from '@components/TableOfContents.astro';
import Authors from '@components/Authors.astro';
import Taxonomy from '@components/Taxonomy.astro';
import Related from '@components/Related.astro';

type Props = {
    frontmatter: Frontmatter
    headings: { depth: number; slug: string; text: string; }[];
}
const { frontmatter, headings } = Astro.props as Props;

const lang = frontmatter.lang ?? SITE.default.lang;
const textDirection = frontmatter.dir ?? SITE.default.dir;

// Logic
const markdown = new Markdown();

const title = await markdown.getInlineHtmlFrom(frontmatter.title ?? SITE.title);
const subtitle = frontmatter.subtitle
    ? await markdown.getInlineHtmlFrom(frontmatter.subtitle)
    : null;

const site_url = SITE.url;
const site_features = SITE.featureFlags;
---
<html dir={ textDirection } lang={ lang } class="initial">
    <Head frontmatter={ frontmatter } headings={ headings } lang={ lang } />
    <body>
        <SkipLinks frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <Header frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <Breadcrumbs frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <div class="content-group">
            <Navigation lang={ lang } />
            <main id="site-main">
                <article itemscope itemtype="https://schema.org/Article">
                    <header>
                        <h1 itemprop="name headline"><Fragment set:html={ title } /></h1>
                        {subtitle && (
                            <p><Fragment set:html={ subtitle } /></p>
                        )}
                    </header>
                    <div class="page-content anim-show-parent" itemprop="articleBody">
                        <TableOfContents frontmatter={ frontmatter } headings={ headings } lang={ lang } />
                        <Authors frontmatter={ frontmatter } lang={ lang } />
                        <slot />
                        <Taxonomy frontmatter={ frontmatter } lang={ lang } />
                        <Related frontmatter={ frontmatter } headings={ headings } lang={ lang } />
                    </div>
                </article>
            </main>
        </div>
        <Footer frontmatter={ frontmatter } headings={ headings } lang={ lang } />
        <script define:vars={{ site_url, site_features }}>
            window.site_url = site_url;
            window.site_features = site_features;
        </script>
        <script src={ SITE.subfolder + '/js/main.js' } type="module" async></script>
    </body>
</html>