---
import type { Frontmatter } from '@config';

// Properties
type Props = {
    frontmatter: Frontmatter
    headings: { depth: number; slug: string; text: string; }[];
}
const { frontmatter, headings } = Astro.props as Props;

const destination = frontmatter.redirect;
const metaContent = `0; URL=${ destination }`;
---
<html>
    <meta charset="utf-8">
    <title>Redirecting to { destination }</title>
    <meta http-equiv="refresh" content={ metaContent }>
    <link rel="canonical" href={ destination }>
</html>