---
import { getPages } from '@util/PageQueries';

// Logic
const allPages = await getPages();
const missingMeta = allPages.filter(p => (p.frontmatter.pubDate == null && p.frontmatter.layout != 'src/layouts/Redirect.astro'));
const pageCount = missingMeta.length;
const pages = missingMeta.slice(0, Math.min(50, pageCount));
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Missing pubDate</title>
    </head>
    <body>
        <h2>Report: Missing pubDate</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Modified</th>
                </tr>
            </thead>
        {pages.map(p => 
        <tr>
            <td><a href={ p.url }>{ p.frontmatter.title }</a></td>
            <td>{ p.frontmatter.pubDate }</td>
            <td>{ p.frontmatter.modDate }</td>
        </tr>
        )}
        </table>
    </body>
</html>