---
import { PostQueries, PostOrdering } from 'astro-accelerator-utils';
import { fetchPages } from '@util/PageQueries';

// Logic
const allPages = await PostQueries.getPages(fetchPages);
const pageCount = allPages.length;
const pages = allPages.sort(PostOrdering.sortByModDate).slice(0, Math.min(50, pageCount));
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Oldest content</title>
    </head>
    <body>
        <h2>Report: Oldest content</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Modified</th>
                </tr>
            </thead>
        {pages.map(p => 
        <tr>
            <td><a href={ p.url }>{ p.frontmatter.title }</a></td>
            <td>{ p.frontmatter.pubDate }</td>
            <td>{ p.frontmatter.modDate }</td>
        </tr>
        )}
        </table>
    </body>
</html>