---
import t from '@util/language.json';
import { Lang } from '@util/Languages.astro';

import { SITE } from '../../config';
import { getTaxonomy } from '@util/Taxonomy.astro';
import { addSlashToAddress } from '@util/Url.astro';

// Lang
const _ = Lang('en');

// Logic

const category = _(t.articles.category) ?? 'category';
const categoryLink = `${SITE.subfolder}/${category}/`;

const tag = _(t.articles.tag) ?? 'category';
const tagLink = `${SITE.subfolder}/${tag}/`;

function getCategoryLink(category: string) {
    return addSlashToAddress(categoryLink + category.toLowerCase().replace(/ /g, '-') + '/1/');
}

function getTagLink(tag: string) {
    return addSlashToAddress(tagLink + tag.toLowerCase().replace(/ /g, '-') + '/1/');
}

const taxonomy = await getTaxonomy();
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Taxonomy</title>
    </head>
    <body>
        <h2>Report: Taxonomy</h2>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Count</th>
                </tr>
            </thead>
        {taxonomy.categories.map(t => 
        <tr>
            <td>{ category }</td>
            <td><a href={ getCategoryLink(t.title) }>{ t.title }</a></td>
            <td>{ t.count }</td>
        </tr>
        )}
        {taxonomy.tags.map(t => 
        <tr>
            <td>{ tag }</td>
            <td><a href={ getTagLink(t.title) }>{ t.title }</a></td>
            <td>{ t.count }</td>
        </tr>
        )}
        </table>
    </body>
</html>