---
// warning: This file is overwritten by Astro Accelerator

import { Accelerator } from 'astro-accelerator-utils';
import { Lang } from '@util/Languages';
import { Translations } from '@util/Languages';
import { SITE } from '@config';

// Lang
const _ = Lang('en');

// Logic
const accelerator = new Accelerator(SITE);

const links = accelerator.taxonomy.links(Translations, _, SITE.subfolder);
const entries = accelerator.taxonomy.all();
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Taxonomy</title>
    </head>
    <body>
        <h2>Report: Taxonomy</h2>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Count</th>
                </tr>
            </thead>
        {entries.categories.map(t => 
        <tr>
            <td>{ links.category }</td>
            <td><a href={ links.getCategoryLink(t.title) }>{ t.title }</a></td>
            <td>{ t.count }</td>
        </tr>
        )}
        {entries.tags.map(t => 
        <tr>
            <td>{ links.tag }</td>
            <td><a href={ links.getTagLink(t.title) }>{ t.title }</a></td>
            <td>{ t.count }</td>
        </tr>
        )}
        </table>
    </body>
</html>