---
import { Lang } from '@util/Languages';

import { getTaxonomy, taxonomyLinks, sortByTitle } from '@util/Taxonomy';

// Lang
const _ = Lang('en');

// Logic

const links = taxonomyLinks(_);
const taxonomy = await getTaxonomy();
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Taxonomy</title>
    </head>
    <body>
        <h2>Report: Taxonomy</h2>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Count</th>
                </tr>
            </thead>
        {taxonomy.categories.sort(sortByTitle).map(t => 
        <tr>
            <td>{ links.category }</td>
            <td><a href={ links.getCategoryLink(t.title) }>{ t.title }</a></td>
            <td>{ t.count }</td>
        </tr>
        )}
        {taxonomy.tags.sort(sortByTitle).map(t => 
        <tr>
            <td>{ links.tag }</td>
            <td><a href={ links.getTagLink(t.title) }>{ t.title }</a></td>
            <td>{ t.count }</td>
        </tr>
        )}
        </table>
    </body>
</html>