/** @format */

html {
    box-sizing: border-box;
    interpolate-size: allow-keywords;
    scrollbar-gutter: stable;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

*,
*::before,
*::after {
    border: 0 none;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration-skip-ink: auto;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--aft);
    color: var(--fore);
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.016em;
    font-family: var(--content-font);
    scrollbar-gutter: stable;
}

a,
summary {
    color: var(--fore-link);
    text-decoration: underline;
    cursor: pointer;
    border-radius: var(--block-radius);

    @media (prefers-reduced-motion: no-preference) {
        transition: all 200ms ease-in-out;
    }
}

details {
    overflow: hidden;
}

details::details-content {
    block-size: 0;

    @media (prefers-reduced-motion: no-preference) {
        transition-property: block-size, content-visibility;
        transition-duration: 0.3s;
        transition-behavior: allow-discrete;
    }
}

details[open]::details-content {
    block-size: auto;
}

form {
    fill: var(--fore-link);
}

fieldset {
    border: none;
    padding: 1rem;
    border-radius: var(--block-radius);
}

input {
    color: var(--fore-input);
    background-color: var(--aft-input);
}

input::placeholder {
    color: var(--fore-input);
    opacity: 0.8;
}

textarea {
    padding: 0.5rem;
    width: calc(100% - 1rem);
    font-family: var(--code-font);
}

button, .button {
    display: inline-block;
    background-color: var(--icon-block);
    border: 1px solid var(--icon-block);
    border-radius: var(--block-radius);
    color: var(--aft);
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.5rem;
}

button:hover, .button:hover,
button:focus, .button:focus {
    background-color: var(--aft);
    color: var(--icon-block);
}

summary {
    padding-inline: 0;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--fore-link-alt);
}

nav a:hover,
nav a:focus,
nav summary:hover,
nav summary:focus {
    color: var(--fore-link-alt);
}

:focus-visible {
    outline: 2px dashed var(--icon-block);
    border-radius: 5px;
}

blockquote {
    color: var(--fore-block);
    background-color: var(--aft-block);
    font-size: 1.3rem;
    font-style: italic;
    padding: var(--paragraph-margin);
    position: relative;
    box-shadow: var(--box-shadow);
    margin: var(--paragraph-margin) 0;
    border-radius: var(--block-radius);
}

blockquote > *:first-child:before {
    content: '“';
    color: var(--icon-block);
    display: inline;
    font-family: var(--heading-font);
    font-size: 5em;
    line-height: 1rem;
    position: relative;
    top: 0.4em;
    right: 0.2em;
}

blockquote > *,
blockquote > p {
    margin-inline: var(--paragraph-margin);
}

blockquote cite {
    font-style: initial;
    font-weight: bold;
    display: block;
    margin-top: var(--block-gap);
    text-align: right;
}

blockquote cite::before {
    content: ' ―';
    padding-right: 0.5em;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--grid-gap);
}

dt {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    margin: var(--block-gap-l) 0 var(--block-gap) 0;
    line-height: 1;
    letter-spacing: -0.03em;
    text-wrap: balance;
    text-decoration: underline;
    text-decoration-color: var(--icon-block);
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 1.3;
    text-decoration-thickness: 8px;

    @media (max-width: 860px) {
        font-size: 2.3rem;
    }
}

h2 {
    font-size: var(--font-size-h2);

    @media (max-width: 860px) {
        font-size: 2rem;
    }
}

h3 {
    font-size: var(--font-size-h3);

    @media (max-width: 860px) {
        font-size: 1.7rem;
    }
}

h4,
h5,
h6 {
    font-size: var(--font-size-h4);

    @media (max-width: 860px) {
        font-size: 1.3rem;
    }
}

hr {
    border: 0.5px dashed var(--fore);
    opacity: 0.5;
    width: 80%;
    margin: var(--paragraph-margin) auto;
}

figure {
    background-color: var(--aft-block);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--block-radius);
}

figure > p {
    margin: 0;
}

figcaption {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
}

img {
    max-width: 100%;
    background-color: var(--aft-image);
}

img.resp-img {
    width: 100%;
    height: auto;
}

figure img {
    border-radius: var(--block-radius);
}

.page-content ul,
.page-content ol {
    margin: var(--paragraph-margin) 0 var(--paragraph-margin) 1.2rem;
}

.page-content ul.post-list,
.page-content ol.post-list {
    margin: var(--paragraph-margin) auto;
}

p {
    margin: var(--paragraph-margin) 0;
}

small {
    font-size: 0.8em;
}

strong {
    font-weight: bold;
}

.table-wrap {
    max-width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border: 0.5px solid var(--fore);
    width: 100%;
    border-radius: var(--block-radius);
}

thead tr {
    background-color: var(--aft-table-head);
    color: var(--fore-table-head);
}

th,
td {
    border: 0.5px solid var(--fore);
    padding: 0.2em 0.3em;
}

tbody tr {
    background-color: var(--aft-table-row-even);
    color: var(--fore-table-row-even);
}

tbody tr:nth-child(odd) {
    background-color: var(--aft-table-row-odd);
    color: var(--fore-table-row-odd);
}

/* Skip Links */

nav.skip-links {
    position: absolute;
}

nav.skip-links a {
    clip: rect(0 0 0 0);
    background-color: var(--aft);
    min-width: 20vw;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    z-index: 15;
    text-align: center;
    display: inline-block;
    height: 1px;
    margin: -1px;
    width: 1px;
}

nav.skip-links a:focus {
    clip: auto;
    height: auto;
    margin: 0.2em;
    overflow: visible;
    width: auto;
}

/* Breadcrumbs */

.site-breadcrumbs ol {
    font-size: 0.8rem;
    padding: 0.1em 1em;
    text-align: center;
}

.site-breadcrumbs li {
    display: inline;
    padding: 0.2em;
}

.site-breadcrumbs li::before {
    content: '>';
    margin-inline-end: 0.3rem;
}

.site-breadcrumbs li:first-child::before {
    content: '';
    margin-inline-end: 0;
}

.site-breadcrumbs a[aria-current] {
    color: var(--fore);
    text-decoration: none;
}

/* Header */
.site-header {
    text-align: center;
    font-size: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: auto 40px 40px;
    align-items: center;
    padding-block: 2rem;
    width: var(--content-width);
    margin-inline: auto;
    max-width: calc(100vw - 2rem);
    stroke: var(--fore);
}

a.site-title {
    text-align: left;
    text-decoration: none;
}

a.navigation-icon {
    color: var(--fore-link);
    text-decoration: none;
    align-self: center;
    height: 40px;
    padding: 0.4rem 0;
}

a.site-title:hover,
a.site-title:focus,
a.navigation-icon:hover,
a.navigation-icon:focus {
    color: var(--fore-link-alt);
    background-color: unset;
}

.site-header .site-title {
    letter-spacing: -0.03em;
    font-family: var(--heading-font);
    line-height: 1.3;
    flex-shrink: 0;
}

.site-header .header-icon {
    --icon-width: 40px;
    stroke: var(--fore-link);
    width: var(--icon-width);
    height: var(--icon-width);
}

.site-header .header-icon {
    text-decoration: none;
}

.site-header .header-icon:hover,
.site-header .header-icon:focus {
    stroke: var(--fore-link-alt);
}

.site-header .header-icon[data-navigation-id='site-nav'] {
    position: relative;
    z-index: 100;
}

/* Navigation */

.site-nav {
    --site-nav-indent: 0.5rem;
    font-size: var(--font-size-meta);
}

.site-nav > ul {
    border-bottom: 1px solid var(--fore-link);
}

.site-nav li {
    list-style: none;
}

.site-nav > ul > li {
    border-top: 1px solid var(--fore-link);
}

.site-nav > ul > li li {
    border-top: 1px solid color-mix(in srgb, var(--fore-link) 50%, transparent);
}

.site-nav a {
    text-indent: var(--marker-size);
    width: calc(100% - 2.07rem);
    display: inline-block;
    padding: 1rem var(--site-nav-indent);
    text-decoration: none;
}

.site-nav a[aria-current] {
    font-weight: bold;
}

.site-nav details summary {
    cursor: pointer;
}

.site-nav details summary::-webkit-details-marker,
.site-nav details summary::marker {
    font-size: var(--marker-size);
    width: 1em;
}

.site-nav li.has-children summary span {
    text-indent: 0;
    display: inline-block;
    padding: 1rem var(--site-nav-indent);
    text-decoration: none;
}

details.sub-nav {
    padding: 0rem !important;
}

details.sub-nav details {
    margin-inline-start: calc(var(--marker-size) + var(--site-nav-indent));
}

.overlay-menu .site-nav {
    font-size: 1.4em;

    @media (max-width: 860px) {
        font-size: 1em;
    }
}

/* Main content group */

.content-group {
    margin-inline: 1rem;
    display: grid;
    gap: var(--grid-gap);
    justify-content: center;
    max-width: 100vw;
    padding-top: 0;
    grid-template-columns: minmax(0, var(--content-width));
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'toc'
        'content'
        'menu';
}

.content-group header {
    padding-bottom: var(--block-gap);

    @media (max-width: 860px) {
        text-align: left;
    }
}

.content-group header p {
    font-size: 1.6em;
    line-height: 1.2;
    margin: calc(var(--block-gap) * -1) 0 0 0;
    text-wrap: balance;
}

.content-group > nav {
    grid-area: menu;
    padding: var(--block-gap) 0;
}

.page-content {
    text-align: justify;
    hyphens: auto;
}

.page-content {
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: left;
    }
}

.page-content > h2:nth-child(1) {
    margin-top: 0;
}

/* Table of Contents (TOC) */

.page-toc {
    margin: 0 0 var(--paragraph-margin) 0;
    font-size: var(--font-size-meta);
}

.page-toc ol {
    list-style: none;
}

.page-toc li a {
    display: block;
    padding: 0.5rem 1rem;
}

.page-toc li.toc-lev-2 {
    margin-left: 0rem;
}

.page-toc li.toc-lev-3 a {
    margin-left: 1rem;
}

.page-toc li.toc-lev-4 a {
    margin-left: 2rem;
}

.page-toc li.toc-lev-5 a {
    margin-left: 3rem;
}

.page-toc li.toc-lev-6 a {
    margin-left: 4rem;
}

/* Footer */

.site-footer {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    background-color: var(--aft-block);
    margin-top: 4rem;
}

.site-footer h2 {
    padding-top: 2rem;
}

.site-footer a {
    color: var(--fore-link);
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.site-footer a:hover,
.site-footer a:focus {
    color: var(--fore-link-alt);
}

/* Overlay (Mobile Navigation, Search) */

.overlay {
    position: fixed;
    top: 0;
    width: calc(100vw - 6rem);
    height: calc(100vh - 7rem);
    max-height: 100vh;
    background-color: var(--aft);
    padding: 5rem 3rem 2rem 3rem;
    overflow-y: auto;
    z-index: 1;
}

.overlay > * {
    max-width: 40rem;
    margin: 0 auto;
}

/* Site Search */

.site-search-wrapper fieldset {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

.site-search-wrapper input {
    background-color: var(--aft-block);
    border-radius: var(--block-radius);
    color: var(--fore);
    font-size: 1.3rem;
    padding: 0.5em;
}

.site-search-wrapper input {
    width: calc(100% - 110px);
}

.site-search-wrapper button {
    width: 80px;
}

.site-search-results ul.site-search-results-list {
    list-style-type: none;
    margin-block: 1rem;
    margin-inline: 0;
}

.site-search-results li.site-search-results-item {
    list-style-type: none;
    margin: var(--block-gap-l) 0 var(--block-gap-l) 0;
}

.site-search-results-item a {
    text-decoration: none;
}

.site-search-results .show-more {
    margin-block-start: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 0.6em 0.3em 0.6em;
    color: var(--aft-link-alt);
    background-color: var(--fore-link);
    cursor: pointer;
    width: auto;
}

.result-wrapper mark,
.result-headings mark {
    color: unset;
    background-color: unset;
    text-decoration: underline;
}

.result-path {
    display: none;
}

.result-path-icon {
    stroke: var(--fore);
}

.result-path-segment:last-child {
    color: var(--fore-link);
}

.result-title {
    color: var(--fore-link);
    font-size: 1.5rem;
    font-weight: 700;
}

.result-description {
    color: var(--fore-block);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.result-headings {
    list-style: none;
    font-size: 1rem;
}

.result-headings li:not(:last-child) {
    text-align: left;
}

/* Articles */

.post-list {
    margin: 0;
    text-align: left;
}

.post-list .list-item {
    background-color: var(--aft-block);
    border-radius: var(----block-radius);
    box-shadow: var(--box-shadow-unselected);
    color: var(--fore-block);
    list-style: none;
    margin-bottom: var(--block-gap);
    position: relative;
}

.post-list .list-item:hover,
.post-list .list-item:focus-within {
    box-shadow: var(--box-shadow);
    transform: var(--transform-selected);
}

.post-list .list-item[data-image='true'] > article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'content img';

    @media (max-width: 680px) {
        /* Special Case - We let it be two-column until later */
        display: unset;
        grid-template-columns: unset;
        grid-template-areas: unset;
    }
}

.post-list .list-item-content {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto fit-content(5rem);
    grid-gap: 1rem;
    grid-area: content;
}

.post-list .list-item-content h2,
.post-list .list-item-content h3 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    text-decoration: none;
}

.post-list .list-item-content h2 a,
.post-list .list-item-content h3 a {
    text-decoration: none;
}

.post-list .list-item[data-image='true'] .list-item-image {
    background-color: var(--fore-link);
    padding: 1.5rem;
}

.post-list .list-item .list-item-image img {
    width: 100%;
    min-height: 100%;
    max-height: 8em;
    object-fit: cover;
    filter: grayscale(1);
    box-shadow: var(--box-shadow);
    transform: rotate(-3deg);
    border-radius: var(--block-radius);
    grid-area: img;
    border: 3px solid var(--fore-link);

    @media (max-width: 680px) {
        filter: grayscale(calc(1 - var(--img-shown)));
        scale: calc(1 + (0.2 * var(--img-shown)));
        transform: rotate(3deg);
    }
}

.post-list .list-item:hover .list-item-image,
.post-list .list-item:focus-within .list-item-image {
    background-color: var(--icon-block);
}

.post-list .list-item:hover .list-item-image img,
.post-list .list-item:focus-within .list-item-image img {
    filter: grayscale(0);
    transform: rotate(3deg);
    scale: 1.2;
}

.page-content ul.recent-updates {
    list-style: none;
    margin-inline: 0;
    padding-inline: 0;
}

.recent-updates li {
    margin-block-end: 1em;
}

.recent-updates time {
    display: block;
}

/* Paging */

.post-paging {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: var(--block-gap) 0 var(--block-gap-l) 0;
}

.post-paging > * {
    flex: 1;
    text-align: center;
}

.post-paging a[aria-current] {
    text-decoration: none;
    color: var(--fore);
}

.post-paging span,
.post-paging a {
    display: inline-block;
    color: var(--fore-link);
    background-color: var(--aft-block);
    text-decoration: none;
    font-size: 1rem;
}

.post-paging a:hover,
.post-paging a:focus {
    background-color: var(--fore-link-alt);
    color: var(--aft);
}

.paging-collapse-before:before,
.paging-collapse-after:after {
    top: 0.2em;
    content: '...';
    text-decoration: none;
    color: var(--fore);
    display: inline-block;
    position: relative;
}

.paging-collapse-before:before {
    padding-right: 0.6rem;
}

.paging-collapse-after:after {
    padding-left: 0.6rem;
}

.post-meta:not(.mini) {
    border-top: 1px solid var(--icon-block);
    display: flex;
    font-size: var(--font-size-meta);
    gap: var(--block-gap);
    margin: var(--block-gap) 0 0 0;
    padding: var(--block-gap) 0;

    @media (max-width: 860px) {
        flex-direction: column;
    }
}

.post-meta .author-image {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    object-fit: cover;
    border-radius: 50%;

    @media (max-width: 860px) {
        display: block;
    }
}

.post-meta > .author-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-meta time[itemprop='dateModified'] {
    font-style: italic;
}

.post-meta.mini {
    font-size: var(--font-size-meta);
    margin: 0 0 var(--paragraph-margin) 0;
}

.post-meta.mini > .author-info > *:nth-child(n + 3)::before {
    content: '|';
    padding: 0 0.3rem;
    opacity: 0.5;
}

.post-meta.mini > .author-info > .author-image {
    height: 1rem;
    width: 1rem;
    margin: 0 0.3rem 0 0;
}

.post-taxonomy {
    margin: 0 0 var(--block-gap-l) 0;
}

.post-taxonomy h2 {
    font-size: 1rem;
    font-family: var(--content-font);
    margin: 0;
    padding: 0 var(--grid-gap) 0 0;
    display: inline-block;
}

.post-taxonomy ul {
    margin: 0;
    list-style: none;
    display: inline-block;
}

.post-taxonomy li {
    display: inline-block;
    margin: 0.3em;
}

.post-taxonomy a {
    display: inline-block;
    color: var(--fore-link);
    background-color: var(--aft-block);
    padding: 0.1em 0.7em;
    text-decoration: none;
    font-size: 1rem;
}

.post-taxonomy a:hover,
.post-taxonomy a:focus {
    background-color: var(--fore-link-alt);
    color: var(--aft);
}

.author-page {
    display: flex;
    gap: var(--grid-gap);

    @media (max-width: 860px) {
        flex-direction: column;
    }
}

.author-page > img {
    align-self: self-start;

    @media (max-width: 860px) {
        display: block;
        margin-inline: auto;
    }
}

/* Taxonomy */

.footer-columns {
    display: grid;
    gap: var(--block-gap);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'cat tag'
        'quick quick';
    justify-content: center;
    margin-block-end: var(--block-gap-l);
    max-width: 1000px;
    margin-inline: auto;

    @media (max-width: 680px) {
        display: block;
        margin-inline: 0.5rem;
    }
}

.footer-column:nth-child(1) {
    grid-area: cat;
}

.footer-column:nth-child(2) {
    grid-area: tag;
}

.footer-column:nth-child(3) {
    grid-area: quick;
}

.footer-columns h2 {
    margin: var(--paragraph-margin) auto;
}

.footer-columns ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap-s);
    justify-content: center;
    list-style: none;
    margin: var(--paragraph-margin) 0;
    width: 100%;
}

.footer-columns li {
    flex: 0 0 auto;
}

.footer-columns a {
    display: inline-block;
    color: var(--fore-link);
    background-color: var(--aft);
    padding: 0.3em 0.7em 0.1em 0.7em;
    text-decoration: none;
    font-size: var(--font-size-meta);
}

.footer-columns a:hover,
.footer-columns a:focus {
    background-color: var(--fore-link-alt);
    color: var(--aft);
}

.site-footer nav {
    margin-block: var(--block-gap);
}

/* Video */

.yt-video {
    aspect-ratio: 16/9;
    display: grid;
    grid-template-rows: 1fr auto;
}

.yt-video > * {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.yt-video .play-icon {
    background-position: center;
    background-size: cover;
    border-radius: var(--block-radius);
    box-shadow: var(--box-shadow);
    color: var(--fore-link);
    font-size: 5em;
}

.yt-video:hover .title,
.yt-video:focus .title {
    background-color: var(--icon-block);
}

.yt-iframe {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

a[data-youtube] {
    text-decoration: none;
}

/* Code Block */

code {
    background-color: var(--aft-block);
    font-family: var(--code-font);
    font-weight: bold;
    overflow-wrap: break-word;
    font-size: 1rem;
}

pre.astro-code {
    font-family: var(--code-font);
    margin: var(--block-gap) 0;
    overflow: auto;
    padding: 1rem;
}

pre.astro-code code {
    font-weight: unset;
    background-color: unset;
    overflow-wrap: unset;
}

/* Helper icons */

.copy-container {
    max-height: 0px;
    margin: 0;
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 1;
    top: 0.6rem;
    left: 0.4rem;
}

.copy-button {
    border-radius: 0.2rem;
    stroke: var(--aft);
    fill: var(--fore-link-alt);
    background-color: transparent;
}

.copy-button:hover,
.copy-button:focus {
    fill: var(--fore-link);
    transform: rotate(4deg);
}

.magnify-container {
    max-height: 0px;
    margin: 0;
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 1;
    top: -1.3rem;
    left: 1.1rem;
}

.magnify-button {
    border-radius: 0.2rem;
    fill: var(--aft);
    stroke: var(--fore-link-alt);
    background-color: transparent;
    opacity: 0;
}

.magnify-button:hover,
.magnify-button:focus {
    stroke: var(--fore-link);
    transform: rotate(4deg);
    opacity: 1;
}

.input-touch .magnify-button {
    opacity: 1;
}

figure:hover .magnify-button,
figure:focus .magnify-button {
    opacity: 1;
}

/* Custom Divisions */

.note {
    color: var(--fore-block);
    background-color: var(--aft-block);
    padding: 0.1px 1.2em;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--block-radius);
    margin: var(--block-gap) 0;
}

.simple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--block-gap);

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.simple-grid > * > * {
    width: 100%;
}

.simple-grid.l-s {
    grid-template-columns: 2fr 1fr;
    align-items: start;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.simple-grid.s-l {
    grid-template-columns: 1fr 2fr;
    align-items: start;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.inset {
    margin: var(--block-gap) auto;
    width: 66%;
}

.inset-small {
    margin: var(--block-gap) auto;
    width: 66%;
    max-width: 200px;
}

.inset-medium {
    margin: var(--block-gap) auto;
    width: 66%;
    max-width: 400px;
}

@media (max-width: 680px) {
    .note,
    .inset,
    .inset-small,
    .inset-medium {
        width: auto;
        max-width: unset;
        margin: var(--block-gap) 0;
    }
}

/* Detail tabs */

.tab-list {
    padding-inline: 10px;
}

.tab-list button,
.tab-list button:focus,
.tab-list button:hover {
    display: inline-block;
    position: relative;
    z-index: 2;
    top: 2px;
    margin: 0;
    margin-top: 4px;
    border: 2px solid var(--aft-block);
    border-radius: var(--block-radius) var(--block-radius) 0 0;
    background: var(--aft-block);
    outline: none;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.tab-list button[aria-selected='true'] {
    margin-top: 0;
    border-width: 2px;
    border-top-width: 6px;
    border-top-color: var(--fore-link);
    border-inline-color: var(--fore-link);
    border-bottom-color: var(--aft);
    background-color: var(--aft);
}

.tab-list button[aria-selected='false'] {
    top: 0px;
}

.tab-list button span.focus {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    outline: none;
}

[role='tabpanel'] {
    position: relative;
    padding: 1rem;
    border: 2px solid var(--fore-link);
    border-radius: var(--block-radius);
    background: var(--aft);
    min-height: 10em;
    overflow: auto;
}

[role='tabpanel'].is-hidden {
    display: none;
}

[role='tabpanel'] p {
    margin: 0;
}

/* Events timeline */

.timeline {
  position: relative;
}

.timeline h2,
.timeline h3 {
    margin: 0 0 0.5rem 0;
    font-size: var(--font-size-h4)
}

.timeline::before {
  content: '';
  position: absolute;
  left: 2rem;
  top: calc(var(--block-gap) * -1);
  bottom: 0;
  width: 0.4rem;
  background-color: var(--icon-block);
}

.timeline-event {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 4rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: margin-bottom 0.3s ease;
  }
}

.timeline-event::before {
  content: '';
  position: absolute;
  left: 1.5rem;
  top: 1.5em;
  width: 1rem;
  height: 1rem;
  background: var(--aft);
  border: 3px solid var(--icon-block);
  border-radius: 50%;
  box-shadow: var(--box-shadow-unselected);
  z-index: 1;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.3s ease;
  }
}

.timeline-event:focus-within::before {
  background: var(--icon-block);
  box-shadow: var(--box-shadow);
  transform: scale(1.2);
}

.timeline-event > div {
  width: 100%;
  text-align: left;
  background: var(--aft-block);
  color: var(--fore-block);
  border-radius: 0.5rem;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-unselected);
}

.timeline-event.event-today > div {
  border: 1px solid var(--icon-block);
  background: var(--aft);
}

.timeline-event.event-past > div {
  opacity: 0.8;
  background: var(--aft);
  color: var(--fore);
  box-shadow: none;
}

.timeline-details {
    font-size: var(--font-size-meta);
}

.timeline time {
  display: inline-block;
  margin-block-end: var(--grid-gap);
}

.timeline-location {
  display: block;
  font-size: var(--font-size-meta);
}

.timeline-event.event-past::before {
  box-shadow: var(--box-shadow-unselected);
}

/* Animation */

@media (prefers-reduced-motion: no-preference) {
    .magnify-icon,
    .copy-button,
    .anim-show-parent .list-item img,
    .anim-show-parent .list-item {
        transition: all 0.2s ease-in;
        scale: calc(0.75 + (var(--shown, 1) * 0.25));
    }
}
