/**
 * Recommended Tools
 *     Check accessibility for colour combinations
 *     https://toolness.github.io/accessible-color-matrix/
 *
 * @format
 */

:root {
    --fore: #333;
    --fore-headings: #225;
    --aft: #fbfbfc;

    --fore-link: #2d4295;
    --fore-link-alt: #4d71ff;
    --aft-link-alt: #f3f5ff;

    --fore-head: #333;
    --aft-head: #e6e8f1;
    --icon-head: #2d4295;

    --fore-breadcrumb: #333;
    --aft-breadcrumb: #f3f5ff;

    --link-head: #2d4295;
    --link-alt-head: #2a4dd8;

    --fore-block: #333;
    --aft-block: #f3f5ff;
    --icon-block: #4d71ff;

    --aft-mark: #eef;

    --fore-table-head: #fdfdfe;
    --aft-table-head: #2f3141;
    --fore-table-row-odd: #333;
    --aft-table-row-odd: #fdfdfe;
    --fore-table-row-even: #333;
    --aft-table-row-even: #f3f5ff;

    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --content-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --code-font: Consolas, 'Courier New', Courier, monospace;
    --unicode-font: 'Segoe UI Symbol', 'Arial Unicode MS', sans-serif;

    --block-gap: 2rem;
    --block-radius: 0.3rem;

    --marker-size: 1.2rem;
    --paragraph-margin: 1.2rem;

    --box-shadow: 0 12px 24px -12px rgb(0 0 0 / 80%);
    --box-shadow-slight: 0 6px 12px -6px rgb(0 0 0 / 40%);

    --content-width: 78vw;
    --navigation-width: 260px;
    --grid-gap: 1.5rem;
    --grid-max-width: 60rem;
    --grid-width: 90vw;

    /* Calculate the mobile width by removing l/r columns and grid gap */
    --content-width-mobile: calc(100vw - (1rem * 2));

    /* Search variables */
    --white: #fff;
    --search-height: 3rem;
    --search-border-radius: calc(var(--search-height) / 2);
    --search-results-padding: 1rem;
    --search-border: 0.0625rem solid #76a1c2;
    --search-dropdown-height: 65vh;
    --search-dropdown-duration: 0.3s;
    --search-item-border-color: #dae2e9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fore: #ccc;
        --fore-headings: #cce;
        --aft: #333;

        --fore-link: #abb9ef;
        --fore-link-alt: #abb9ef;
        --aft-link-alt: #232323;

        --fore-head: #ccc;
        --aft-head: #222;
        --icon-head: #abb9ef;

        --fore-breadcrumb: #ccc;
        --aft-breadcrumb: #2c2c2c;

        --link-head: #abb9ef;
        --link-alt-head: #6580ed;

        --fore-block: #ccc;
        --aft-block: #111;
        --icon-block: #abb9ef;

        --fore-table-head: #ccc;
        --aft-table-head: #222;
        --fore-table-row-odd: #ccc;
        --aft-table-row-odd: #333;
        --fore-table-row-even: #ccc;
        --aft-table-row-even: #444;

        /* Search variables */
        --white: var(--aft);
        --search-border: 0.0625rem solid var(--link-alt-head);
        --search-item-border-color: var(--link-head);
    }
}
