---
import t from '@language/language.json';
import { Lang } from '@language/language';
import { getPages } from '@utilities/PageQueries.astro';
import { mapNavPageWithUrl, popMatchingPage } from '@utilities/NavPage.astro';
import type { NavPage } from '@utilities/NavigationTypes';

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const currentUrl = new URL(Astro.request.url);
const mapWithUrl = mapNavPageWithUrl(currentUrl);

const allPages = await getPages();

const pathParts = currentUrl.pathname.split('/');
const navPages: NavPage[] = [];
let path = '';

pathParts.forEach((part) => {
  path += part.length > 0 ? '/' + part : '';
  const match = popMatchingPage(allPages, path);

  if (match) {
    navPages.push(mapWithUrl(match));
  }
});
---
<nav class="site-breadcrumbs" aria-label={ _(t.aria.breadcrumbs) }>
  <ol vocab="http://schema.org/" typeof="BreadcrumbList">
    {navPages.map((page, index) => (
      <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href={ page.url } aria-current={ page.ariaCurrent }>
        <span property="name">{ page.title }</span>
        <meta property="position" content={ index.toString() } />
      </a>
    </li>
    ))}
  </ol>
</nav>