---
import t from '@language/language.json';
import { Lang } from '@language/language';
import { getBreadcrumbs } from '@utilities/Breadcrumbs.astro';

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const currentUrl = new URL(Astro.request.url);
const navPages = await getBreadcrumbs(currentUrl);
---
<nav class="site-breadcrumbs" aria-label={ _(t.aria.breadcrumbs) }>
  <ol vocab="http://schema.org/" typeof="BreadcrumbList">
    {navPages.map((page, index) => (
      <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href={ page.url } aria-current={ page.ariaCurrent }>
        <span property="name">{ page.title }</span>
        <meta property="position" content={ index.toString() } />
      </a>
    </li>
    ))}
  </ol>
</nav>