---
import * as CONFIG from '../../config';
import t from '../Language/language.json';
import { Language } from '../Language/language';

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props as Props;

// Language
const language = new Language(lang);
const footer = t.footer;
const _ = (entry: { [key: string]: string }) => language.translate(entry);

// Logic
// -
---
<footer id="site-footer">
  <p>{ _(footer.copyright) } &copy; { new Date().getFullYear() } { CONFIG.SITE.owner }</p>
</footer>