---
import { SITE } from '../../config';
import t from '@language/language.json';
import { Lang } from '@language/language';

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
// -
---
<footer class="site-footer" id="site-footer">
  <p>{ _(t.footer.copyright) } &copy; { new Date().getFullYear() } { SITE.owner }</p>
  <nav class="skip-links" aria-label={ _(t.aria.back_to_top) }>
    <a href="#site-top">{ _(t.skiplinks.skip_to_top) }</a>
  </nav>
</footer>