---
import * as CONFIG from '../../config';
import t from '../Language/language.json';
import { Language } from '../Language/language';

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props as Props;

// Language
const language = new Language(lang);
const footer = t.footer;
const skiplinks = t.skiplinks;
const _ = (entry: { [key: string]: string }) => language.translate(entry);

// Logic
// -
---
<style>
footer {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--fore-head);
    background-color: var(--aft-head);
    margin: var(--block-gap) auto 0 auto;
}

@media (max-width: 860px) {
}
</style>
<footer id="site-footer">
  <p>{ _(footer.copyright) } &copy; { new Date().getFullYear() } { CONFIG.SITE.owner }</p>
  <nav class="skip-links" aria-label="skiplinks">
    <a href="#site-top">{ _(skiplinks.skip_to_top) }</a>
  </nav>
</footer>