---
import t from '../Language/language.json';
import { Language } from '../Language/language';
import NavigationItem from './NavigationItem.astro';
import { mapNavPage } from '../../utilities/NavPage.astro';
import type { NavPage } from '../../utilities/NavPage.astro';
import type { MarkdownInstance } from 'astro';

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props as Props;

// Language
const language = new Language(lang);
const navigation = t.navigation;
const aria = t.aria;
const _ = (entry: { [key: string]: string }) => language.translate(entry);

// Logic
const currentUrl = new URL(Astro.request.url);
const mapWithUrl = (page: MarkdownInstance<Record<string, any>>) => {
  return mapNavPage(page, currentUrl);
};

const topLevelPages = await Astro.glob('../../pages/*.md');
const allPages = await Astro.glob('../../pages/**/*.md');

const pageHierarchy: NavPage[] = topLevelPages.map(mapWithUrl);
const pageList: NavPage[] = allPages.map(mapWithUrl);

for (let i = 0; i < pageHierarchy.length; i++) {
  const page = pageHierarchy[i];
  page.children = pageList
    .filter((mp) => 
      page.url != '/' 
      && mp.url != page.url
      && mp.url.startsWith(page.url))
    .sort((mp) => mp.order);
}
---
<style>
  

/* Navigation */

nav.site-nav.sticky {
    align-self: start;
    position: sticky;
}

nav.site-nav h2 {
    margin-top: 0.1em;
    display: none;
}

@media (max-width: 860px) {
  nav.site-nav h2 {
      display: block;
  }

  nav.site-nav {
      grid-row: 2;
  }
}
</style>
<nav class="site-nav" id="site-nav" aria-label={ _(aria.site_navigation) }>
  <h2 class="site-nav-title">{ _(navigation.title) }</h2>
  <ul>
    {pageHierarchy.sort((a, b) => a.order - b.order).map((page) => (
      <NavigationItem lang={lang} navPage={page} />
    ))}
  </ul>
</nav>