---
import t from '../Language/language.json';
import { Language } from '../Language/language';

// Properties
type Props = {
  lang: string;
}
const { lang } = Astro.props as Props;

// Language
const language = new Language(lang);
const skiplinks = t.skiplinks;
const _ = (entry: { [key: string]: string }) => language.translate(entry);

// Logic
// -
---
<style>
  /* Skip Links */
nav {
    position: absolute;
}

a {
    clip: rect(0 0 0 0);
    background-color: var(--aft);
    min-width: 20vw;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    z-index: 15;
    text-align: center;
    display: inline-block;
    height: 1px;
    margin: -1px;
    width: 1px;
}

a:focus {
    clip: auto;
    height: auto;
    margin: 0.2em;
    overflow: visible;
    width: auto;
}
</style>
<nav class="skip-links" aria-label="skiplinks">
    <a href="#site-nav">{ _(skiplinks.skip_to_navigation) }</a>
    <a href="#site-main">{ _(skiplinks.skip_to_content) }</a>
    <a href="#site-footer">{ _(skiplinks.skip_to_footer) }</a>
  </nav>