---
import type { Frontmatter } from '@config';
import { Translations, Lang } from '@util/Languages';
import { getBreadcrumbs } from '@util/Breadcrumbs';
import { addSlashToAddress } from '@util/Url';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const currentUrl = new URL(Astro.request.url);
const navPages = await getBreadcrumbs(currentUrl);
---
<nav class="site-breadcrumbs" aria-label={ _(Translations.aria.breadcrumbs) }>
  <ol vocab="http://schema.org/" typeof="BreadcrumbList">
    {navPages.map((page, index) => (
    <li property="itemListElement" typeof="ListItem">
      <meta property="position" content={ index.toString() } />
      <a property="item" typeof="WebPage" href={ addSlashToAddress(page.url) } aria-current={ page.ariaCurrent } rel={ page.rel }><span property="name">{ page.title }</span></a>
    </li>
    ))}
  </ol>
</nav>