---
import { SITE, Frontmatter } from '@config';

import t from '@util/language.json';
import { Lang } from '@util/Languages.astro';

import Navigation from '@components/Navigation.astro';
import TableOfContents from '@components/TableOfContents.astro';
import Authors from '@components/Authors.astro';
import Taxonomy from '@components/Taxonomy.astro';
import Related from '@components/Related.astro';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang, frontmatter, headings } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
// ...
---
<div class="content-group">
  <Navigation lang={ lang } />
  <main id="site-main">
      <article>
          <TableOfContents frontmatter={ frontmatter } headings={ headings } lang={ lang } />
          <header>
              <h1>{ frontmatter.title ?? SITE.title }</h1>
          </header>
          <Authors frontmatter={ frontmatter } lang={ lang } addLink={ true } />
          <div class="anim-show-parent">
              <slot />
          </div>
          <Taxonomy frontmatter={ frontmatter } lang={ lang } />
          <Related frontmatter={ frontmatter } headings={ headings } lang={ lang } />
      </article>
  </main>
</div>