---
import type { Frontmatter } from '@config';

import t from '@util/language.json';
import { Lang } from '@util/Languages';
import { getMenu } from '@util/Footer';

import FooterItem from '@components/FooterItem.astro';

import { SITE } from '@config';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const currentUrl = new URL(Astro.request.url);
const pages = await getMenu(currentUrl, lang);
---
<footer class="site-footer" id="site-footer">
  <div class="footer-columns">
  {pages.map((page) => (
    <FooterItem lang={ lang } page={ page } />
  ))}
  </div>
  <p>{ _(t.footer.copyright) } &copy; { new Date().getFullYear() } { SITE.owner }</p>
  <nav aria-label={ _(t.aria.back_to_top) }>
    <a href="#site-top">{ _(t.skiplinks.skip_to_top) }</a>
  </nav>
</footer>