---
import type { Frontmatter } from '@config';

import t from '@util/language.json';
import { Lang } from '@util/Languages.astro';
import { getTaxonomy } from '@util/PageQueries.astro';

import { SITE } from '@config';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
// const taxonomy = await getTaxonomy();

// const cats = Object.keys(taxonomy.categories);
// const tags = Object.keys(taxonomy.tags);
---
<footer class="site-footer" id="site-footer">
  <p>{ _(t.footer.copyright) } &copy; { new Date().getFullYear() } { SITE.owner }</p>
  <nav aria-label={ _(t.aria.back_to_top) }>
    <a href="#site-top">{ _(t.skiplinks.skip_to_top) }</a>
  </nav>
  <!-- {cats.length > 0 && cats.map((c) =>
  <span>{ c }</span>
  )}
  {tags.length > 0 && tags.map((t) =>
  <span>{ t }</span>
  )} -->
</footer>