---
import type { Frontmatter } from '@config';

import t from '@util/language.json';
import { Lang } from '@util/Languages.astro';
import { getTaxonomy } from '@util/Taxonomy.astro';

import { SITE } from '@config';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const category = _(t.articles.category) ?? 'category';
const tag = _(t.articles.tag) ?? 'tag';

const categoryLink = `/${category}/`;
const tagLink = `/${tag}/`;

function getCategoryLink(category: string) {
  return categoryLink + category.toLowerCase() + '/1/';
}

function getTagLink(tag: string) {
  return tagLink + tag.toLowerCase() + '/1/';
}

const taxonomy = await getTaxonomy();
---
<footer class="site-footer" id="site-footer">
  <div class="taxonomy">
    {taxonomy.categories.length > 0 &&
    <div>
      <h2>{ _(t.articles.category_title) }</h2>
      <ul>
      {taxonomy.categories.map(c => 
        <li><a href={ getCategoryLink(c.title) }>{ c.title }</a></li>
      )}
      </ul>
    </div>
    }
    {taxonomy.topTags.length > 0 &&
    <div>
      <h2>{ _(t.articles.tag_title) }</h2>
      <ul>
      {taxonomy.topTags.map(t => 
        <li><a href={ getTagLink(t.title) }>{ t.title }</a></li>
      )}
      </ul>
    </div>
    }
  </div>
  <p>{ _(t.footer.copyright) } &copy; { new Date().getFullYear() } { SITE.owner }</p>
  <nav aria-label={ _(t.aria.back_to_top) }>
    <a href="#site-top">{ _(t.skiplinks.skip_to_top) }</a>
  </nav>
</footer>