---
import { Accelerator } from 'astro-accelerator-utils';
import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { SITE } from '@config';
import { Translations, Lang } from '@util/Languages';
import { menu } from 'src/data/footer';
import FooterItem from '@components/FooterItem.astro';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const accelerator = new Accelerator(SITE);

const currentUrl = new URL(Astro.request.url);
const pages = accelerator.navigation.footer(currentUrl, _, Translations, SITE.subfolder, menu);
---
<footer class="site-footer" id="site-footer">
  <div class="footer-columns">
  {pages.map((page) => (
    <FooterItem lang={ lang } page={ page } />
  ))}
  </div>
  <p>{ _(Translations.footer.copyright) } &copy; { new Date().getFullYear() } { SITE.owner }</p>
  <nav aria-label={ _(Translations.aria.back_to_top) }>
    <a href="#site-top">{ _(Translations.skiplinks.skip_to_top) }</a>
  </nav>
</footer>