---
// warning: This file is overwritten by Astro Accelerator

import { Accelerator } from "astro-accelerator-utils";
import type { Frontmatter } from "astro-accelerator-utils/types/Frontmatter";
import { SITE } from "@config";
import { Translations, Lang } from "@util/Languages";
import Search from "./Search.astro";
import MobileMenu from "./MobileMenu.astro";

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics("accelerator/components/Header.astro");
stats.start();

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string }[];
  showSearch: boolean;
};
const { lang, showSearch } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

stats.stop();
---

<header class="site-header">
  <a href={ (SITE.subfolder ?? '') + '/' } class="site-title" translate="no">{ SITE.title }</a>
  <Search lang={ lang } showSearch={ showSearch } />
  <MobileMenu lang={lang} /> 
</header>
