---
// warning: This file is overwritten by Astro Accelerator

import { Accelerator, PostFiltering } from 'astro-accelerator-utils';
import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { SITE } from '@config';
import { Translations, Lang } from '@util/Languages';

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics('accelerator/components/Header.astro');
stats.start();

// Properties
type Props = {
    lang: string;
    frontmatter: Frontmatter;
    headings: { depth: number; slug: string; text: string }[];
    showSearch: boolean;
};
const { lang, showSearch } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

const search = accelerator.posts.all().filter(PostFiltering.isSearch).shift() ?? null;
const searchUrl = (search && accelerator.urlFormatter.formatAddress(search.url)) || SITE.search.fallbackUrl;

stats.stop();
---

<header class="site-header">
    <a href={(SITE.subfolder ?? '') + '/'} class="site-title" translate="no">{SITE.title}</a>
    <a href={searchUrl} class="header-icon" title={_(Translations.header.toggle_search)}>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
            <path d="M21 21l-6 -6"></path>
        </svg>
    </a>
    <a href="#site-nav" data-navigation-id="site-nav" class="header-icon" title={_(Translations.header.toggle_menu)}>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M4 6l16 0"></path>
            <path d="M4 12l16 0"></path>
            <path d="M4 18l16 0"></path>
        </svg>
    </a>
</header>
