---
import { Urls, PostQueries, PostFiltering } from 'astro-accelerator-utils';
import { SITE, Frontmatter } from '@config';
import { Translations, Lang } from '@util/Languages';
import { fetchPages } from '@util/PageQueries';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const search = (await PostQueries.getPages(fetchPages, PostFiltering.isSearch))[0] ?? null;

---
<header class="site-header">
  <a href="#site-nav" class="navigation-icon" title={ _(Translations.header.open_menu) }><svg xmlns="http://www.w3.org/2000/svg" 
    width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" 
    fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <line x1="4" y1="6" x2="20" y2="6" />
    <line x1="4" y1="12" x2="20" y2="12" />
    <line x1="4" y1="18" x2="20" y2="18" />
  </svg></a>
  <a href={ (SITE.subfolder ?? '') + '/' } class="site-title" translate="no">{ SITE.title }</a>
  {search != null &&
  <a href={ Urls.addSlashToAddress(search.url, SITE) } class="search-icon" title={ _(Translations.header.open_search) }><svg xmlns="http://www.w3.org/2000/svg" 
    width="40" height="40" viewBox="0 0 24 24" stroke-width="1" 
    fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <circle cx="10" cy="10" r="7" />
    <line x1="21" y1="21" x2="15" y2="15" />
  </svg></a>
  }
</header>