---
// warning: This file is overwritten by Astro Accelerator

import { Accelerator } from "astro-accelerator-utils";
import type { Frontmatter } from "astro-accelerator-utils/types/Frontmatter";
import { SITE } from "@config";
import { Translations, Lang } from "@util/Languages";
import Search from "./Search.astro";

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics("accelerator/components/Header.astro");
stats.start();

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string }[];
  showSearch: boolean;
};
const { lang, showSearch } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

stats.stop();
---

<header class="site-header">
  <a href={ (SITE.subfolder ?? '') + '/' } class="site-title" translate="no">{ SITE.title }</a>
  <Search lang={ lang } showSearch={ showSearch } />
  <a
    href="#site-nav"
    data-navigationid="site-nav"
    class="navigation-icon"
    title={_(Translations.header.toggle_menu)}
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <line x1="4" y1="6" x2="20" y2="6"></line>
      <line x1="4" y1="12" x2="20" y2="12"></line>
      <line x1="4" y1="18" x2="20" y2="18"></line>
    </svg></a
  >  
</header>
<style>
  header {
    align-items: center;
    background-color: var(--aft-head);
    color: var(--fore-head);
    display: flex;
    font-size: 2rem;
    font-size: clamp(1.2em, 4vw, 1.6em);
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 10;
}

a {
    color: var(--link-head);
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: unset;
    color: var(--link-alt-head);
}

.site-title {
    letter-spacing: -1px;
    text-transform: uppercase;
}

@media (min-width: 338px) {
    .site-title {
        flex-shrink: 0;
    }
}

.navigation-icon {
    stroke: var(--link-head);
    border: 1px solid var(--link-head);
    border-radius: calc(var(--icon-width) / 2);
    width: var(--icon-width);
    height: var(--icon-width);
}

.search-icon {
    stroke: var(--link-head);
}
</style>