---
import { Accelerator } from "astro-accelerator-utils";
import { Lang } from "@util/Languages";
import { getNavigationItems } from "@util/getNavigationItems";
import NavigationItem from "@components/NavigationItem.astro";
import { SITE } from "@config";

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics("components/Hamburger.astro");
stats.start();

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

// Logic
const currentUrl = new URL(Astro.request.url);
const pages = await getNavigationItems(currentUrl, lang);

stats.stop();
---

<div
  class="mobile-menu"
  data-mobile-menu-wrapper
  aria-label="Mobile navigation"
>
  <a
    href="#site-nav"
    class="hamburger"
    aria-label="Toggle navigation"
    data-hamburger-icon
  >
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
    <span class="circle"></span>
  </a>
  <div class="site-nav site-nav__mobile" data-mobile-menu>
    <ul class="site-nav__list" data-mobile-menu-list>
      {pages.map((page) => <NavigationItem lang={lang} page={page} />)}
    </ul>
  </div>
</div>
