---
import t from '@util/language.json';
import { Lang } from '@util/Languages.astro';

import type { NavPage } from '@util/NavigationTypes.astro';
import { addSlashToAddress } from '@util/Url.astro';

// Properties
type Props = {
  lang: string;
  page: NavPage
};
const { lang, page } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
// -
---
{(page.children.length == 0) && (
<li>
  <a href={ addSlashToAddress(page.url) } aria-current={ page.ariaCurrent }>{ page.title }</a>
</li>
)}
{(page.children.length > 0) && (
<li class="has-children">
  <details class="sub-nav" open={ page.isOpen }>
    <summary><span>{ page.section }</span></summary>
    <ul>
      { page.children.sort((a, b) => a.order - b.order).map((page) => (
          <Astro.self lang={ lang } page={ page } />
      ))}
    </ul>
  </details>
</li>
)}