---
import { SITE } from '@config';
import type { NavPage } from '@util/NavigationTypes';
import { Urls } from 'astro-accelerator-utils';

// Properties
type Props = {
  lang: string;
  page: NavPage
};
const { lang, page } = Astro.props as Props;
---
{(page.children.length == 0) && (
<li>
  <a href={ Urls.addSlashToAddress(page.url, SITE) } aria-current={ page.ariaCurrent } rel={ page.rel }>{ page.title }</a>
</li>
)}
{(page.children.length > 0) && (
<li class="has-children">
  <details class="sub-nav" open={ page.isOpen }>
    <summary><span>{ page.section }</span></summary>
    <ul>
      { page.children.sort((a, b) => a.order - b.order).map((page) => (
          <Astro.self lang={ lang } page={ page } />
      ))}
    </ul>
  </details>
</li>
)}