---
import { Cache, Navigation, Posts, UrlFormatter } from 'astro-accelerator-utils';
import { Translations, Lang } from '@util/Languages';
import { SITE } from '@config';
import { menu } from '@data/navigation';

// Properties
type Props = {
  lang: string;
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const cache = new Cache(SITE.cacheMaxAge);
const posts = new Posts(cache);
const urlFormatter = new UrlFormatter(SITE.url);
const navigation = new Navigation(posts, urlFormatter);

const currentUrl = new URL(Astro.request.url);
const pages = navigation.menu(currentUrl, SITE.subfolder, menu);
---
<nav class="site-nav-bar" id="site-nav" aria-label={ _(Translations.aria.site_navigation) }>
  <h2 class="site-nav-title">{ _(Translations.navigation.title) }</h2>
  <ul>
    {pages.sort((a, b) => a.order - b.order).map((page) => (
      <li><a href={ page.url }>{ page.title }</a></li>
    ))}
  </ul>
</nav>