---
import { Accelerator } from 'astro-accelerator-utils';
import type { NavPage } from 'astro-accelerator-utils/types/NavPage';
import { SITE } from '@config';

// Properties
type Props = {
  lang: string;
  page: NavPage
};
const { lang, page } = Astro.props as Props;

// Logic
const accelerator = new Accelerator(SITE);
---
{(page.children.length == 0) && (
<li>
  <a href={ accelerator.urlFormatter.addSlashToAddress(page.url) } aria-current={ page.ariaCurrent } rel={ page.rel }>{ page.title }</a>
</li>
)}
{(page.children.length > 0) && (
<li class="has-children">
  <details class="sub-nav" open={ page.isOpen }>
    <summary><span>{ page.section }</span></summary>
    <ul>
      { page.children.sort((a, b) => a.order - b.order).map((page) => (
          <Astro.self lang={ lang } page={ page } />
      ))}
    </ul>
  </details>
</li>
)}