---
import { Accelerator } from 'astro-accelerator-utils';
import type { Link } from 'astro-accelerator-utils/lib/v1/paging.mjs';
import { SITE } from '@config';
import type { MarkdownInstance, Page } from 'astro';
import { Translations, Lang } from '@util/Languages';

// Properties
type Props = {
  lang: string;
  page: Page<MarkdownInstance<Record<string, any>>>,
  pageLinks: Link[],
};
const { lang, page, pageLinks } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
const accelerator = new Accelerator(SITE);
---
<nav class="post-paging" aria-label={ _(Translations.aria.paging) }>
  {page.url.prev
    ? <a href={ accelerator.urlFormatter.addSlashToAddress(page.url.prev) }>{ _(Translations.articles.previous) }</a>
    : <span>{ _(Translations.articles.previous) }</span>}
  {pageLinks.map((link) => (
      <a href={ accelerator.urlFormatter.addSlashToAddress(link.url) } aria-current={ link.ariaCurrent } class={ link.class }>{ link.title }</a>
  ))}
  {page.url.next
    ? <a href={ accelerator.urlFormatter.addSlashToAddress(page.url.next) }>{ _(Translations.articles.next) }</a>
    : <span>{ _(Translations.articles.next) }</span>}
  </nav>