---
// warning: This file is overwritten by Astro Accelerator

import { PostOrdering, PostFiltering, Accelerator } from 'astro-accelerator-utils';
import { SITE } from '@config';

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics('accelerator/components/RecentlyUpdated.astro');
stats.start();

// Properties
type Props = {
  lang: string;
  count: number;
};
const { lang, count } = Astro.props satisfies Props;

// Logic
const allPages = accelerator.posts.all();
const pageCount = allPages.length;
const pages = allPages
  .filter(PostFiltering.hasDate)
  .filter(PostFiltering.isListable)
  .sort(PostOrdering.sortByModDateDesc)
  .slice(0, Math.min(count, pageCount));

stats.stop();
---
<ul class="recent-updates">
  {pages.map((post) => (
  <li data-destination={ accelerator.urlFormatter.formatAddress(post.url) }>
    <a href={ accelerator.urlFormatter.formatAddress(post.url) }>{ accelerator.markdown.getTextFrom(post.frontmatter?.title) }</a>
    <time datetime={ (post.frontmatter.modDate || post.frontmatter.pubDate).toString() }>
      { accelerator.dateFormatter.formatDate((post.frontmatter.modDate || post.frontmatter.pubDate), lang) }
    </time>
  </li>
  ))}
</ul>