---
import { SITE, Frontmatter } from '@config';
import type { MarkdownInstance } from 'astro';
import { Urls, PostQueries, PostFiltering, PostOrdering } from 'astro-accelerator-utils';
import { getImageInfo } from '@util/custom-markdown.mjs'
import { fetchPages } from '@util/PageQueries';

import AuthorsMini from '@components/AuthorsMini.astro';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang, frontmatter, headings } = Astro.props as Props;

// Logic
let posts: MarkdownInstance<Record<string, any>>[] = [];
const parentCagory = (frontmatter.categories ?? [null])[0];

if (parentCagory != null) {
  const allPages = await PostQueries.getPages(fetchPages, PostFiltering.isListable)
  const allPosts = allPages
    .filter(p => p.frontmatter.title != frontmatter.title && p.frontmatter.categories && p.frontmatter.categories.includes(parentCagory))
    .sort(PostOrdering.sortByPubDateDesc)
  
  // One "Most Recent" Post
  if (allPosts.length > 0) {
    posts.push(allPosts[0])
  }

  const olderPost = allPosts.slice(1).filter(p => p.frontmatter.pubDate < frontmatter.pubDate)
  
  // One "Older than current" Post
  if (olderPost.length > 0) {
    posts.push(olderPost[0])
  } else if (allPosts.length > 1) {
    posts.push(allPosts[1])
  }
}

const articles = posts.map(p => {
  return {
    url: p.url,
    frontmatter: p.frontmatter,
    img: p.frontmatter.bannerImage
      ? getImageInfo(p.frontmatter.bannerImage.src, '', SITE.images.listerSize)
      : null
  };
});
---
{articles.length > 0 &&
<ul class="post-list anim-show-parent">
  {articles.map((post) => (
  <li class="list-item" data-destination={ Urls.addSlashToAddress(post.url, SITE) } data-image={ (post.frontmatter.bannerImage?.src.length > 0).toString() }>
    <article>
      <div class="list-item-image">
      {post.img && (
        <img
          srcset={ post.img.srcset }
          sizes={ post.img.sizes }
          src={ post.img.src }
          alt={ post.frontmatter.bannerImage.alt }
          class={ post.img.class }
          loading="lazy" />
      )}
      </div>
      <div class="list-item-content">
        <h3>
          <a href={ Urls.addSlashToAddress(post.url, SITE) }>{ post.frontmatter.title }</a>
        </h3>
        <AuthorsMini lang={ lang } frontmatter={ post.frontmatter as Frontmatter } />
      </div>
    </article>
  </li>
  ))}
</ul>
}