---
// warning: This file is overwritten by Astro Accelerator

import { Accelerator, PostFiltering } from "astro-accelerator-utils";
import { Translations, Lang } from "@util/Languages";
import { SITE } from "@config";

// Properties
type Props = {
  lang: string;
  showSearch: boolean;
};
const { lang, showSearch = true } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

// Logic
const siteUrl = Astro.site ? Astro.site.href : "";
const accelerator = new Accelerator(SITE);

---
<div class="site-search-wrapper">
{showSearch &&
  <form method="GET" action={SITE.search.fallbackUrl ?? "https://www.google.com/search"} role="search" autocomplete="off" data-sourcedata={SITE.subfolder + "/search.json"}>
    <fieldset>
      <input type="hidden" name={SITE.search.fallbackSite ?? "q"} value={"site:" + siteUrl} />
      <input type="text" name={SITE.search.fallbackSite ?? "q"} class="site-search-query" placeholder={_(Translations.search.search_for)} spellcheck="true" autocomplete="off" autofocus="autofocus" />
      <button type="submit" set:html={_(Translations.search.submit)}></button>
    </fieldset>
  </form>
  <div class="site-search-results" data-title={_(Translations.search.results_title)} data-emptytitle={_(Translations.search.no_results_title)}>
  </div>
  <script src={SITE.subfolder + "/js/search.js"} type="module" async></script>
}
</div>
