---
// warning: This file is overwritten by Astro Accelerator

import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { Translations, Lang } from '@util/Languages';
import { Accelerator } from 'astro-accelerator-utils';
import { SITE } from '@config';

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics('accelerator/components/SkipLinks.astro');
stats.start();

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

// Logic
stats.stop();
---
<nav class="skip-links" aria-label={ _(Translations.aria.skiplinks) } id="site-top">
  <a href="#site-nav">{ _(Translations.skiplinks.skip_to_navigation) }</a>
  <a href="#site-main">{ _(Translations.skiplinks.skip_to_content) }</a>
  <a href="#site-footer">{ _(Translations.skiplinks.skip_to_footer) }</a>
</nav>