---
import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { Translations, Lang } from '@util/Languages';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang, frontmatter, headings } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
// ...
---
{headings?.length > 0 &&
<nav class="page-toc" aria-label={ _(Translations.aria.toc) }>
  <details>
    <summary>{ _(Translations.toc.title) }</summary>
    <ol>
      {headings.map((heading) =>(
        <li class={ 'toc-lev-' + heading.depth }><a href={ '#' + heading.slug }>{ heading.text }</a></li>
      ))}
    </ol>
  </details>
</nav>
}