---
// warning: This file is overwritten by Astro Accelerator

import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { SITE } from '@config';
import { Translations, Lang } from '@util/Languages';
import { Accelerator } from 'astro-accelerator-utils';

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics('accelerator/components/TableOfContents.astro');
stats.start();

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string; }[];
  expanded?: boolean | number;
};
const { lang, frontmatter, headings, expanded } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

// Logic
let openAttribute = null; 
let openInteraction = null;

if (typeof expanded === 'number') {
  openInteraction = expanded;
} else if (expanded === true) {
  openAttribute = 'open';
}

stats.stop();
---
{headings?.length > 0 &&
<nav class="page-toc" aria-label={ _(Translations.aria.toc) }>
  <details open={ openAttribute } data-openon={ openInteraction }>
    <summary>{ _(Translations.toc.title) }</summary>
    <ol>
      {headings.map((heading) =>(
        <li class={ 'toc-lev-' + heading.depth }><a href={ '#' + heading.slug }>{ heading.text }</a></li>
      ))}
    </ol>
  </details>
</nav>
}
<style>
  /* Table of Contents (TOC) */

nav {
    background-color: var(--aft-block);
    padding: 0 1rem;
    margin: 0 0 var(--block-gap) 0;
    border-radius: var(--block-radius);
}

summary {
    text-align: center;
}

ol {
    list-style: none;
    padding-bottom: var(--block-gap);
    margin: 1rem;
}

li a {
    display: block;
    padding: 0.5rem 1rem;
}

li a.highlight {
    font-weight: bold;
}

li.toc-lev-2 {
    margin-left: 0rem;
}

li.toc-lev-3 a {
    margin-left: 1rem;
}

li.toc-lev-4 a {
    margin-left: 2rem;
}

li.toc-lev-5 a {
    margin-left: 3rem;
}

li.toc-lev-6 a {
    margin-left: 4rem;
}
</style>