---
import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { SITE } from '@config';
import { Translations, Lang } from '@util/Languages';
import { Accelerator } from 'astro-accelerator-utils';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string; }[];
  expanded?: boolean;
};
const { lang, frontmatter, headings, expanded } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

// Logic
const openAttribute = expanded ? 'open' : null;
---
{headings?.length > 0 &&
<nav class="page-toc" aria-label={ _(Translations.aria.toc) }>
  <details open={ openAttribute }>
    <summary>{ _(Translations.toc.title) }</summary>
    <ol>
      {headings.map((heading) =>(
        <li class={ 'toc-lev-' + heading.depth }><a href={ '#' + heading.slug }>{ heading.text }</a></li>
      ))}
    </ol>
  </details>
</nav>
}