---
// For listing by frontmatter.categories
import t from '@util/language.json';
import { Lang } from '@util/Languages.astro';

import type { Page, MarkdownInstance } from 'astro';

import { Frontmatter, SITE } from '@config';
import { getPageLinks } from '@util/PageLinks.astro';
import { isListable, sortByPubDateDesc } from '@util/PageTypeFilters.astro';
import { getItem, setItem } from '@util/Cache.astro';

import Default from '@layouts/Default.astro';
import ArticleList from '@components/ArticleList.astro';
import Paging from '@components/Paging.astro';

const lang = SITE.default.lang;
const currentUrl = new URL(Astro.request.url);
const slug = currentUrl.pathname.split('/')[3];

// Props
type Props = {
  title: string;
  page: Page<MarkdownInstance<Record<string, any>>>;
  headings: { depth: number; slug: string; text: string; }[];
  pubDate: Date;
};
const { title, page, headings, pubDate } = Astro.props as Props;

const frontmatter: Frontmatter = {
  layout: 'src/layouts/Default.astro',
  title: title,
  keywords: `${slug},articles,astro,accelerator`,
  description: `Astro Accelerator ${slug} articles.`,
  pubDate: pubDate,
  robots: 'noindex, follow'
};

// Language
const _ = Lang(lang);

// Logic
type CacheData = {
  posts: MarkdownInstance<Record<string, any>>[];
  categories: string[];
}

export async function getCacheData() {
  const key = 'pages_articles_[category]_[page]';

  let cacheData: CacheData = await getItem(key);

  if (cacheData == null) {
    // This uses a relative glob, so we only look in the current collection
    const sourcePosts = await Astro.glob('../../**/*.md');
    
    cacheData = { posts: [], categories: []};

    cacheData.posts = sourcePosts
      .filter(isListable)
      .sort(sortByPubDateDesc);

    cacheData.posts.forEach(p => {
      const auths: string[] = p.frontmatter.categories ?? [];
      if (auths.length == 0) {
        console.log('No categories found', p.url);
      }
      auths.forEach(a => {
        if (!cacheData.categories.includes(a)) {
          cacheData.categories.push(a);
        }
      });
    });
    
    await setItem(key, cacheData);
  }

  return cacheData;
}

export async function getStaticPaths({ paginate }: any) {
  let data = await getCacheData();

  return data.categories.map(c => {
    const filtered = data.posts.filter(p => {
      const cats: string[] = p.frontmatter.categories ?? [];
      return cats.includes(c);
    });
    return paginate(filtered, {
      params: { category: c.toLowerCase() },
      props: { title: c, pubDate: filtered[0].frontmatter.pubDate },
      pageSize: SITE.pageSize 
    });
  });
}

// Page Links
const pageLinks = getPageLinks(SITE.pageLinks, page.lastPage, page.currentPage, page.url.current);
---
<Default frontmatter={ frontmatter } headings={ headings }>
  <h2>Page {page.currentPage}</h2>
  <ArticleList lang={ lang } posts={ page.data } />
  <Paging lang={ lang } page={ page } pageLinks={ pageLinks } />
</Default>