---
import type { Frontmatter } from '@config';

import t from '@util/language.json';
import { Lang } from '@util/Languages.astro';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang } = Astro.props as Props;

// Language
const _ = Lang(lang);

// Logic
// -
---
<nav class="skip-links" aria-label={ _(t.aria.skiplinks) } id="site-top">
    <a href="#site-nav">{ _(t.skiplinks.skip_to_navigation) }</a>
    <a href="#site-main">{ _(t.skiplinks.skip_to_content) }</a>
    <a href="#site-footer">{ _(t.skiplinks.skip_to_footer) }</a>
  </nav>