---
import { SITE, Frontmatter } from '../config';
import Head from '../components/Head/Head.astro';
import SkipLinks from '../components/Content/SkipLinks.astro';
import Breadcrumbs from '../components/Content/Breadcrumbs.astro';
import Header from '../components/Content/Header.astro';
import Footer from '../components/Content/Footer.astro';
import ContentGroup from '../components/Content/ContentGroup.astro';

type Props = {
    frontmatter: Frontmatter
}
const { frontmatter } = Astro.props as Props;

const lang = frontmatter.lang ?? SITE.default.lang;
const textDirection = frontmatter.dir ?? SITE.default.dir;
---
<html dir={ textDirection } lang={ lang } class="initial">
    <Head frontmatter={ frontmatter } />
    <body>
        <SkipLinks lang={ lang } />
        <Header lang={ lang } />
        <Breadcrumbs lang={ lang } />
        <ContentGroup lang={ lang } frontmatter={ frontmatter }>
            <slot />
        </ContentGroup>
        <Footer lang={ lang } />
        <script src="/js/main.js" type="module" async></script>
    </body>
</html>