---
import t from '@utilities/language.json';
import { Lang } from '@utilities/language.astro';
import { sortByPubDateDesc } from '@utilities/PageTypeFilters';
import { formatDate } from '@utilities/DateFormat';
import { SITE, Frontmatter } from '../config';
import Default from '@layouts/Default.astro';

// Properties
type Props = {
    frontmatter: Frontmatter
};
const { frontmatter } = Astro.props as Props;
const lang = frontmatter.lang ?? SITE.default.lang;
const textDirection = frontmatter.dir ?? SITE.default.dir;

// Language
const _ = Lang(lang);

// Logic
const allPages = await Astro.glob('/**/*.md');
const authorPages = allPages
    .filter(p => p.frontmatter.authors?.indexOf(frontmatter.id) > -1)
    .sort(sortByPubDateDesc)
    .slice(0, 5);
---
<Default frontmatter={frontmatter}>
    <slot />
    <h2>{ _(t.author.recent_articles) }</h2>
    <ul class="post-list">
    {authorPages.map((post) => (
    <li class="list-item" data-destination={ post.url }>
        <article>
        <img src={ post.frontmatter.bannerImage.src } alt={ post.frontmatter.bannerImage.alt } loading="lazy" />
        <div class="list-item-content">
        <span class="post-meta">{ formatDate(post.frontmatter, lang, SITE) }</span>
        <h2>
            <a href={ post.url }>{ post.frontmatter.title }</a>
        </h2>
        </div>
        </article>
    </li>
    ))}
    </ul>
</Default>