---
import * as CONFIG from '../config';
import Head from '../components/head/Head.astro';
import type { MarkdownHeading } from 'astro';

const {frontmatter} = Astro.props;

const currentPage = Astro.url.pathname;
const imageSrc = frontmatter.bannerImage?.src ?? CONFIG.OPEN_GRAPH.image.src;
const canonicalImageSrc = new URL(imageSrc, Astro.site);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const imageAlt = frontmatter.bannerImage?.alt ?? CONFIG.OPEN_GRAPH.image.alt;
---
<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en'} class="initial">
    <Head frontmatter={frontmatter} />
    <body>
        <!-- 
            {% include skiplinks.html %}
            {% include header.html %}
            {% include breadcrumbs.html %}
            <div class="content-group">
            {% include navigation.html %}
            {{ content }}
            </div>
            {% include footer.html %}
            {% include javascripts.html %}
        -->
        <slot />
    </body>
</html>