---
import { SITE, Frontmatter } from 'src/config';
import Head from '@head/HtmlHead.astro';
import SkipLinks from '@content/SkipLinks.astro';
import Breadcrumbs from '@content/Breadcrumbs.astro';
import Header from '@content/Header.astro';
import Footer from '@content/Footer.astro';
import ContentGroup from '@content/ContentGroup.astro';

type Props = {
    frontmatter: Frontmatter
}
const { frontmatter } = Astro.props as Props;

const lang = frontmatter.lang ?? SITE.default.lang;
const textDirection = frontmatter.dir ?? SITE.default.dir;
---
<html dir={ textDirection } lang={ lang } class="initial">
    <Head frontmatter={ frontmatter } />
    <body>
        <SkipLinks lang={ lang } />
        <Header lang={ lang } />
        <Breadcrumbs lang={ lang } />
        <ContentGroup lang={ lang } frontmatter={ frontmatter }>
            <slot />
        </ContentGroup>
        <Footer lang={ lang } />
        <script src="/js/main.js" type="module" async></script>
    </body>
</html>