---
import * as CONFIG from '../config';
import Head from '../components/head/Head.astro';
import SkipLinks from '../components/Content/SkipLinks.astro';
import Breadcrumbs from '../components/Content/Breadcrumbs.astro';
import Navigation from '../components/Content/Navigation.astro';
import Header from '../components/Content/Header.astro';
import Footer from '../components/Content/Footer.astro';
import type { MarkdownHeading } from 'astro';

const { frontmatter } = Astro.props;

const lang = frontmatter.lang ?? 'en';
const textDirection = frontmatter.dir ?? 'ltr';
---
<html dir={ textDirection } lang={ lang } class="initial">
    <Head frontmatter={ frontmatter } />
    <body>
        <SkipLinks lang={ lang } />
        <Header lang={ lang } />
        <Breadcrumbs lang={ lang } />
        <div class="content-group">
            <Navigation lang={ lang } />
            <main id="site-main">
                <article>
                    <header>
                        <h1>{ frontmatter.title ?? CONFIG.SITE.title }</h1>
                    </header>
                    <div>
                        <slot />
                    </div>
                </article>
            </main>
        </div>
        <Footer lang={ lang } />
        <!--
            {% include javascripts.html %}
        -->
    </body>
</html>