---
import * as CONFIG from '../config';
import t from '../components/Language/language.json';
import { Language } from '../components/Language/language';
import Head from '../components/head/Head.astro';
import SkipLinks from '../components/Content/SkipLinks.astro';
import Breadcrumbs from '../components/Content/Breadcrumbs.astro';
import Header from '../components/Content/Header.astro';
import Footer from '../components/Content/Footer.astro';
import ContentGroup from '../components/Content/ContentGroup.astro';

// Properties
type Props = {
    frontmatter: CONFIG.Frontmatter
};
const { frontmatter } = Astro.props as Props;
const lang = frontmatter.lang ?? 'en';
const textDirection = frontmatter.dir ?? 'ltr';

// Language
const language = new Language(lang);
const search = t.search;
const _ = (entry: { [key: string]: string }) => language.translate(entry);

// Logic
const siteUrl = Astro.site ? Astro.site.href : '';
---
<style is:global>
/* Site Search */

form.site-search {
    padding: 1em;
}

form.site-search div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
}

form.site-search label > * {
    padding: 0.2em;
}

form.site-search button {
    display: none;
}

.site-search-results {
    font-size: 1.3rem;
}

.site-search-results a {
    display: block;
    padding: 0.2em;
}

@media (max-width: 860px) {
    form.site-search div {
        grid-template-columns: repeat(1, auto);
    }    
}
</style>
<html dir={ textDirection } lang={ lang } class="initial">
    <Head frontmatter={ frontmatter } />
    <body>
        <SkipLinks lang={ lang } />
        <Header lang={ lang } />
        <Breadcrumbs lang={ lang } />
        <ContentGroup lang={ lang } frontmatter={frontmatter}>
            <slot />
            <form method="GET" action={ CONFIG.SITE.search.fallbackUrl ?? 'https://www.google.com/search' } role="search" id="site-search" class="site-search note" autocomplete="off">
                <fieldset>
                    <input type="hidden" name={ CONFIG.SITE.search.fallbackSite ?? 'q' } value={ siteUrl } />
                    <div>
                        <label for="site-search-query">{ _(search.search_for) }</label>
                        <input type="text" name={ CONFIG.SITE.search.fallbackSite ?? 'q' } id="site-search-query" autofocus="autofocus" />
                        <button id="site-search-button" type="submit">{ _(search.submit) }</button>
                    </div>
                </fieldset>
            </form>
            <div id="site-search-results" data-title={ _(search.results_title) } data-emptytitle={ _(search.no_results_title) }>
            </div>
        </ContentGroup>
        <Footer lang={ lang } />
        <script src="/js/main.js" type="module" async></script>
        <script src="/js/search.js" type="module" async></script>
    </body>
</html>