---
import * as CONFIG from '../config';
import t from '@language/language.json';
import { Lang } from '@language/language';
import Default from '@layouts/Default.astro';

// Properties
type Props = {
    frontmatter: CONFIG.Frontmatter
};
const { frontmatter } = Astro.props as Props;
const lang = frontmatter.lang ?? CONFIG.SITE.default.lang;
const textDirection = frontmatter.dir ?? CONFIG.SITE.default.dir;

// Language
const _ = Lang(lang);

// Logic
const siteUrl = Astro.site ? Astro.site.href : '';
---
<Default frontmatter={frontmatter}>
    <slot />
    <form method="GET" action={ CONFIG.SITE.search.fallbackUrl ?? 'https://www.google.com/search' } role="search" id="site-search" class="site-search note" autocomplete="off">
        <fieldset>
            <input type="hidden" name={ CONFIG.SITE.search.fallbackSite ?? 'q' } value={ siteUrl } />
            <div>
                <label for="site-search-query">{ _(t.search.search_for) }</label>
                <input type="text" name={ CONFIG.SITE.search.fallbackSite ?? 'q' } id="site-search-query" autofocus="autofocus" />
                <button id="site-search-button" type="submit">{ _(t.search.submit) }</button>
            </div>
        </fieldset>
    </form>
    <div id="site-search-results" data-title={ _(t.search.results_title) } data-emptytitle={ _(t.search.no_results_title) }>
    </div>
    <script src="/js/search.js" type="module" async></script>
</Default>